.inner{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    /* outline: 2px solid blue/; */
    width: 94%;
    height: 100%;
    padding: 2% 4% 2% 4%;
    
    /* height: 100%; */
}
.img-titles{
    display: flex;
    height:80%;
    width:110%;
   
    text-align: center;

}
.name{
    width: 15rem;
    text-align: center;
    /* outline: 2px solid red; */
}
.head{
    width: 10rem;
    text-align: center ;
    margin-top: 8%;
    margin-bottom:6%;
}
.image{
    position: absolute;
    border-radius: 50%;
    background-color: rgb(129, 96, 177);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    transform: scale(.7);
    margin: -7.2rem 0 0 -1.1rem;
}
#job{
    text-transform: uppercase;
    font-size: 11px;
    transform: translateX(2.3rem);
    opacity: .6;
    color: rgb(129, 96, 177);
    
    font-weight: 600;
    /* text-align: center;// */
    justify-self: center;
    /* outline: 2px solid black; */
}
img{
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    transform: scale(.7);
    margin: -7rem 0 0 -1.5rem;
    /* flex-grow: 1; */
   
}
.reviews{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
   
}
.text{
    text-align: center;
    margin:10% auto 10% auto;
    font-family: 'Satisfy', cursive;
}