.outer{
    display:flex;
    /* background-color: black; */
    flex-direction: column;
    margin: 2% auto;
    justify-content: center;
    align-items: center;
    width:35%;
    border-radius: 8px;
    max-height: 10%px;
    /* outline: 2px solid black; */
    background-color: white;
}
.btn{
    /* outline: 2px solid black; */
    transform: translateY(-.8rem);
    width: 7rem;
    right: 0;
    left:0;
    position: absolute;
    /* padding: 2rem; */
}
.btn-h{
    
    width: 7rem;
}